
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	*{
		font:12pt arial;
	}
	
	form{
		padding:20px;
		
		margin:auto;
		text-align:left;
		width:800px;
		
	}
	input{
		background:#FFFFFFFF;
		padding:5px;
		font:12pt arial;
		color: black;
		border:solid 1px #FFFFFFFF;
		outline:none;
		width:275px;
		height: 30px;
		margin-top:2px;
		margin-bottom:5px;
		display:block;
		border-radius: 5px;
	}
	input[type="submit"]{
		background-color:  #6A838AFF;;
		border-color:#6A838AFF;
		color:black;
		
		
	}
	#message{
		text-align:center;
		
		background-color:nome;
		border-top:dashed 1px #AAA;
		border-bottom:dashed 1px #AAA;
		color: green;
	}
	#message1{
		text-align:center;
		background-color:none;
		color: red; 
	}
	
	

	h1{
		font-size:0pt;
		color:#AAA;
		font-weight:normal;
	}
	h1 span{
		font:inherit;
		color:blue;
		font-size: larger;
	
	}
	select{
		background:#FFFFFFFF;
		/* padding:10px */;
		font:12pt arial;
		color: black;
		border:solid 1px #888;
		/* outline:none; */
		width:275px;
	   height: 30px;  
		margin-top:6px;
		margin-bottom:16px;
		display:block;
	
	}
	option{
		font:11pt arial;
		color: black;
		height: 10px;
		
	}
	p{
		font-size: 10px;
	}
	.containt{
		background-color: #1E434FFF;
		padding:20px;
		padding-top:10px;
		margin:auto;
		margin-top: 20px;
		text-align:left;
		width: 100%;
	}
	h1{
		
		
		font-size: 25px;
		color:white;
		
		display: flex;
		justify-content: center;
		
	
	
		
		
	}
	#btn{
		margin-top: 15px;
		background-color: orangered;
	}
	.label{
		color: white;
	}
	}
	


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {	/* body{
	margin:0;
	padding:0;
	background-color: #ffffffff;
	color:black;
	text-align:center;
} */
*{
	font:12pt arial;
}
h2 {
	color: white;
}

form{
	padding:20px;
	
	margin:auto;
	text-align:left;
	width:800px;
	margin-left: 150px;
}
input{
	background:#FFFFFFFF;
	padding:5px;
	font:12pt arial;
	color: black;
	border:solid 1px #FFFFFFFF;
	outline:none;
	width:400px;
	height: 30px;
	margin-top:2px;
	margin-bottom:5px;
	display:block;
	border-radius: 5px;
}
input[type="submit"]{
	background-color:  #6A838AFF;;
	border-color:#6A838AFF;
	color:black;
	
	
}
#message{
	text-align:center;
	
	background-color:nome;
	border-top:dashed 1px #AAA;
	border-bottom:dashed 1px #AAA;
	color: green;
}
#message1{
	text-align:center;
	background-color:none;
	color: red; 
}

h1{
	font-size:36pt;
	color:#AAA;
	font-weight:normal;
}
h1 span{
	font:inherit;
	color:blue;

}
select{
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
	background:#FFFFFFFF;
	/* padding:10px */;
	font:12pt arial;
	color: black;
	border:solid 1px #888;
	/* outline:none; */
	width:400px;
   height: 30px;  
	margin-top:6px;
	margin-bottom:16px;
	display:block;

}
option{
	font:11pt arial;
	color: black;
	height: 10px;
	
}
p{
	font-size: 10px;
}
.containt{
	background-color: #1E434FFF;
	padding:20px;
	padding-top:10px;
	margin:auto;
	margin-top: 20px;
	text-align:left;
	margin-left: 50px;
	width:100%;
}
h1{
	
	
	font-size: 25px;
	color:white;
	
	display: flex;
	justify-content: center;
	


	
	
}
#btn{
	margin-top: 15px;
	background-color: orangered;
}
.label{
	color: white;
}
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 767px) {
	/* body{
		margin:0;
		padding:0;
		background-color: #ffffffff;
		color:black;
		text-align:center;
	} */
	*{
		font:12pt arial;
	}
	h2 {
		color: white;
	}
	
	form{
		padding:20px;
		
		margin:auto;
		text-align:left;
		width:800px;
		margin-left: 150px;
	}
	input{
		background:#FFFFFFFF;
		padding:5px;
		font:12pt arial;
		color: black;
		border:solid 1px #FFFFFFFF;
		outline:none;
		width:400px;
		height: 30px;
		margin-top:2px;
		margin-bottom:5px;
		display:block;
		border-radius: 5px;
	}
	input[type="submit"]{
		background-color:  #6A838AFF;;
		border-color:#6A838AFF;
		color:black;
		
		
	}
	#message{
		text-align:center;
		
		background-color:nome;
		border-top:dashed 1px #AAA;
		border-bottom:dashed 1px #AAA;
		color: green;
	}
	#message1{
		text-align:center;
		background-color:none;
		color: red; 
	}
	
	h1{
		font-size:36pt;
		color:#AAA;
		font-weight:normal;
	}
	h1 span{
		font:inherit;
		color:blue;
	
	}
	select{
		background:#FFFFFFFF;
		/* padding:10px */;
		font:12pt arial;
		color: black;
		border:solid 1px #888;
		/* outline:none; */
		width:400px;
	   height: 30px;  
		margin-top:6px;
		margin-bottom:16px;
		display:block;
	
	}
	option{
		font:11pt arial;
		color: black;
		height: 10px;
		
	}
	p{
		font-size: 10px;
	}
	.containt{
		background-color: #1E434FFF;
		padding:20px;
		padding-top:10px;
		margin:auto;
		margin-top: 20px;
		text-align:left;
		width:800px;
	}
	h5{
		
		
		font-size: 25px;
		color:white;
		
		display: flex;
		justify-content: center;
		
	
	
		
		
	}
	#btn{
		margin-top: 15px;
		background-color: orangered;
	}
	.label{
		color: white;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body{
		margin:0;
		padding:0;
		background-color: #ffffffff;
		color:black;
		text-align:center;
	}
	*{
		font:12pt arial;
	}
	h2 {
		color: white;
	}
	
	form{
		padding:20px;
		
		margin:auto;
		text-align:left;
		width:500px;
		margin-left: 150px;
	}
	input{
		background:#FFFFFFFF;
		padding:5px;
		font:12pt arial;
		color: black;
		border:solid 1px #FFFFFFFF;
		outline:none;
		width:400px;
		height: 30px;
		margin-top:2px;
		margin-bottom:5px;
		display:block;
		border-radius: 5px;
	}
	input[type="submit"]{
		background-color:  #6A838AFF;;
		border-color:#6A838AFF;
		color:black;
		
		
	}
	#message{
		text-align:center;
		
		background-color:nome;
		border-top:dashed 1px #AAA;
		border-bottom:dashed 1px #AAA;
		color: green;
	}
	#message1{
		text-align:center;
		background-color:none;
		color: red; 
	}
	
	h1{
		font-size:36pt;
		color:#AAA;
		font-weight:normal;
	}
	h1 span{
		font:inherit;
		color:blue;
	
	}
	select{
		background:#FFFFFFFF;
		/* padding:10px */;
		font:12pt arial;
		color: black;
		border:solid 1px #888;
		/* outline:none; */
		width:400px;
	   height: 30px;  
		margin-top:6px;
		margin-bottom:16px;
		display:block;
	
	}
	option{
		font:11pt arial;
		color: black;
		height: 10px;
		
	}
	p{
		font-size: 10px;
	}
	.containt{
		display:flex;
		justify-content: center;
		flex-wrap: wrap;
		background-color: #1E434FFF;
		padding:20px;
		padding-top:10px;
		margin:auto;
		margin-top: 20px;
		text-align:left;
		width:800px;border-radius: 25px;
	}
	h1{
		
		
		font-size: 25px;
		color:white;
		
		display: flex;
		justify-content: center;
			
	}
	#btn{
		margin-top: 15px;
		background-color: orangered;
	}
	.label{
		color: white;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
